global:
  checkNewVersion: true
  sendAnonymousUsage: false # true by default
  # (Optional) Log information
  # ---
log:
  level: INFO  # DEBUG, INFO, WARNING, ERROR, CRITICAL
  #   format: common  # common, json, logfmt
  #   filePath: /var/log/traefik/traefik.log

  # (Optional) Accesslog
  # ---
  # accesslog:
  # format: common  # common, json, logfmt
  # filePath: /var/log/traefik/access.log

  # (Optional) Enable API and Dashboard
  # ---
api:
  dashboard: true # true by default
  # insecure: true # Don't do this in production!
  # Entry Points configuration
  # ---
entryPoints:
  # web:
  #   address: :80
  # (Optional) Redirect to HTTPS
  # ---
  # http:
  #   redirections:
  #     entryPoint:
  #       to: websecure
  #       scheme: https
  heimdall:
    address: :443
  jackett:
    address: :9117
  radarr:
    address: :7878
  sonarr:
    address: :8989
  traefikdash:
    address: :8080
  # portainer:
  #   address: :8000

# Configure your CertificateResolver here...
# ---
certificatesResolvers:
  
  leresolver:
    acme:
      email: akristax@gmail.com
      caServer: "https://acme-v02.api.letsencrypt.org/directory"
      storage: /le/acme.json
      tlschallenge: true


#   staging:
#     acme:
#       email: your-email@example.com
#       storage: /etc/traefik/certs/acme.json
#       caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"
#       httpChallenge:
#         entryPoint: web
#
#   production:
#     acme:
#       email: your-email@example.com
#       storage: /etc/traefik/certs/acme.json
#       caServer: "https://acme-v02.api.letsencrypt.org/directory"
#       httpChallenge:
#         entryPoint: web

# (Optional) Overwrite Default Certificates
# tls:
#   stores:
#     default:
#       defaultCertificate:
#         certFile: /etc/traefik/certs/cert.pem
#         keyFile: /etc/traefik/certs/cert-key.pem
# (Optional) Disable TLS version 1.0 and 1.1
#   options:
#     default:
#       minVersion: VersionTLS12

providers:
  docker:
    exposedByDefault: false # Default is true
    network: traefik_public
  file:
    # watch for dynamic configuration changes
    directory: /etc/traefik
    watch: true
